.currencyPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.converter {
  width: 65vw;
  min-height: 50vh;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255,255,255, 0.85);
  border: 3px white solid;
  border-radius: 2vw;

}