html, body {
  margin: 0;
  height: 100%;
  background: rgb(189,209,210);
background: linear-gradient(90deg, rgba(189,209,210,1) 0%, rgba(180,202,213,1) 21%, rgba(157,166,171,1) 56%, rgba(184,184,184,1) 100%);  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #335566;
}
